#### Notebook: Downloading Financial Data
- Created: 2020.08.07
- Last Edited: 2021.01.17

##### Import libraries

In [1]:
import pandas as pd
from datetime import date, datetime
import time
import requests

##### Download equity data from Yahoo Finance

In [2]:
try:
    with open('ticker_symbols_sample.txt', 'r') as ticker_symbols:
        tickers = [symbol.rstrip('\n') for symbol in ticker_symbols.readlines()[1:]]
except Exception:
    print("Error occurred while processing ticker symbols.")
else:
    print("Ticker symbols processed successfully\n{}".format(tickers))

# Define start date, end date, and frequency of data to obtain
start_date = date(2007, 3, 1)
end_date = date(2019, 11, 29)
freq = "1d"

Ticker symbols processed successfully
['SPY', 'AAPL', 'INTC']

In [3]:
# convert start and end dates to epoch time
start_date_epoch = int(time.mktime(start_date.timetuple()))
end_date_epoch = int(time.mktime(end_date.timetuple()))

count_tickers = 0

# make API call to Yahoo Finance and read into a pandas dataframe the returned results
for ticker in tickers:
    count_tickers += 1
    data_url = "https://query1.finance.yahoo.com/v7/finance/download/{}?period1={}&period2={}&interval={}&events=history&includeAdjustedClose=true".format(ticker, start_date_epoch, end_date_epoch, freq)
    if count_tickers == 1:
        equity_data = pd.read_csv(data_url, usecols=["Date", "Close"])
        equity_data.rename(columns={"Close":ticker}, inplace=True)
    else:
        equity_data[ticker] = pd.read_csv(data_url, usecols=["Close"])

##### Preview of data

In [4]:
equity_data.head()

         Date         SPY      AAPL       INTC
0  2007-03-01  140.509995  3.109286  19.590000
1  2007-03-02  138.669998  3.050357  19.219999
2  2007-03-05  137.350006  3.082857  19.110001
3  2007-03-06  139.699997  3.149643  19.400000
4  2007-03-07  139.559998  3.132857  19.120001

##### Export Output

In [5]:
# Export to Excel
with pd.ExcelWriter("Output/Financial_Data_{}.xlsx".format(date.today())) as output:
    equity_data.to_excel(output, sheet_name="Equity_Data")